<div class="center">

  <%= form_with(scope: :subscription, url: car_subscriptions_path) do |form| %>

    <div class="field">
      <%= form.label :start %>
      <%= form.date_field :start %>
    </div>

    <div class="field">
      <%= form.label :end %>
      <%= form.date_field :end %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
