<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<div class="table-container" role="table" aria-label="Cars">
  <div class="flex-table header" role="rowgroup">
    <div class="flex-row div-8 first" role="columnheader"><%= sortable "makers.name", "Maker" %></div>
    <div class="flex-row div-8" role="columnheader">Model</div>
    <div class="flex-row div-8" role="columnheader"><%= sortable "year" %></div>
    <div class="flex-row div-8" role="columnheader"><%= sortable "color" %></div>
    <div class="flex-row div-8" role="columnheader">License plate</div>
    <div class="flex-row div-8" role="columnheader"><%= sortable "price" %></div>
    <div class="flex-row div-8" role="columnheader">Available from</div>
    <div class="flex-row div-8" role="columnheader">Actions</div>
  </div>
  <% @cars.each do |car| %>
    <div class="flex-table row" role="rowgroup">
      <div class="flex-row div-8 first" role="cell"><%= car.model.maker.name %></div>
      <div class="flex-row div-8" role="cell"><%= car.model.name %></div>
      <div class="flex-row div-8" role="cell"><%= car.year %></div>
      <div class="flex-row div-8" role="cell"><%= car.color %></div>
      <div class="flex-row div-8" role="cell"><%= car.license_plate %></div>
      <div class="flex-row div-8" role="cell"><%= car.price %></div>
      <div class="flex-row div-8" role="cell"><%= availability(car.subscriptions) %></div>
      <div class="flex-row div-8" role="cell">
        <%= link_to 'Show', car %>
        <%= link_to 'Edit', edit_car_path(car) %>
        <%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>

<br>

<div class="center">
  <%= link_to 'New Car', new_car_path %>
</div>

<div class="center">
  <%= paginate @cars %>
</div>
